/* ------------ PARAMETRES ------------- */
:root {
    --text-color: #333333;
    --dark-color:#eb949c;
    --tonic-color: #FF00FF;
    --light-color: white;
    --masculin-color: #00A9B3;
    --jeune-color: #B35900;
    --maquillage-color: #FF0076;
    
    --br: 6px;
  }

/* ------------ BODY ------------- */
body {
    font-family: 'Bad Script', cursive;
    font-family: 'Lora', serif;
}
/* ------------ HEADER ------------- */
header{
    background-color: var(--dark-color);
    padding: 20px;
    color: var(--light-color);
    margin-bottom: 40px;
}
header h1{
    text-transform: uppercase;
    padding-top: 30px;
}
header h1,
header h2{
  text-align: center;
}
h1{
    text-transform: uppercase;
    padding-top: 30px;
}
h1,
h2{
  text-align: center;
  margin: 20px;
}
/* ------------ MAIN ------------- */
section{
    display: flex;
    flex-direction: column;
}
.section-sets-cadeau-pour-elle,
.section-sets-cadeau-pour-lui,
.section-sets-cadeau-pour-jeunes,
.section-sets-cadeau-maquillage,
.section-sets-bon-cadeau{
  padding: 20px;
  margin-bottom: 20px;
}
.section-sets-cadeau-pour-elle{
  background-color: var(--tonic-color);
}
.section-sets-cadeau-pour-lui{background-color: var(--masculin-color);}
.section-sets-cadeau-pour-jeunes{background-color: var(--jeune-color);}
.section-sets-cadeau-maquillage{background-color: var(--maquillage-color);}
.section-sets-bon-cadeau{background-color: var(--dark-color);}

/* application d'un effet sur les tuilles lors du survol */
.cat-sets-cadeau-pour-elle:hover,
.cat-sets-cadeau-pour-lui:hover,
.cat-sets-cadeau-pour-jeunes:hover,
.cat-sets-cadeau-maquillage:hover,
.cat-sets-bon-cadeau:hover:hover{
    opacity: 0.8;
}
/* configuration des tuilles */
.cat-sets-cadeau-pour-elle, 
.cat-sets-cadeau-pour-lui, 
.cat-sets-cadeau-pour-jeunes, 
.cat-sets-cadeau-maquillage,
.cat-sets-bon-cadeau{
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    background-size: contain;
}
/* application des images dans les tuilles */
.cat-sets-cadeau-pour-elle{background-image: url(../img/po-noel/sets-cadeaux-pour-elle.svg);}
.cat-sets-cadeau-pour-lui{background-image: url(../img/po-noel/sets-cadeaux-pour-lui.svg);}
.cat-sets-cadeau-pour-jeunes{background-image: url(../img/po-noel/sets-cadeaux-pour-jeunes.svg);}
.cat-sets-cadeau-maquillage{background-image: url(../img/po-noel/sets-cadeaux-maquillage.svg);}
.cat-sets-bon-cadeau{background-image: url(../img/po-noel/sets-bon-cadeau.svg);}

.cat-sets-cadeau-pour-elle.img-small,
.cat-sets-cadeau-pour-lui.img-small,
.cat-sets-cadeau-pour-jeunes.img-small,
.cat-sets-cadeau-maquillage.img-small{
  width: 300px;
  height: 300px;
}

/* ------- Gestion du contenu de chaque sets cadeau ------- */
/* Masquage du contenu du set */
.sets-cadeau-pour-elle,
.sets-cadeau-pour-lui,
.sets-cadeau-pour-jeunes,
.sets-cadeau-maquillage{display: none;}

.sets-cadeau-pour-elle.show,
.cadeau-pour-elle,
.sets-cadeau-pour-lui.show,
.cadeau-pour-lui,
.sets-cadeau-pour-jeunes.show,
.cadeau-pour-jeunes,
.sets-cadeau-maquillage.show,
.cadeau-maquillage{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sets-cadeau-pour-elle.show,
.sets-cadeau-pour-lui.show,
.sets-cadeau-pour-jeunes.show,
.sets-cadeau-maquillage.show{flex-direction: column;}

.cadeau-mains{background-image: url(../img/po-noel/cadeau-pour-les-mains.svg);}
.cadeau-briller{background-image: url(../img/po-noel/cadeau-pour-briller-elle.svg);}
.cadeau-pieds{background-image: url(../img/po-noel/cadeau-pour-les-pieds.svg);}
.cadeau-senteur{background-image: url(../img/po-noel/cadeau-pour-senteur-fetes.svg);}
.cadeau-peau-douce-1{background-image: url(../img/po-noel/cadeau-pour-peau-douce-1.svg);}
.cadeau-peau-douce-2{background-image: url(../img/po-noel/cadeau-pour-peau-douce-2.svg);}
.cadeau-gout-abricot{background-image: url(../img/po-noel/cadeau-pour-gout-abricot.svg);}
.cadeau-doux-decollete{background-image: url(../img/po-noel/cadeau-pour-decolete.svg);}
.cadeau-cocooning{background-image: url(../img/po-noel/cadeau-pour-cocooning.svg);}
.cadeau-sos-masque{background-image: url(../img/po-noel/cadeau-sos-masque-elle.svg);}
.cadeau-luxe-exclu-1{background-image: url(../img/po-noel/cadeau-luxe-exclu-1.svg);}
.cadeau-luxe-exclu-2{background-image: url(../img/po-noel/cadeau-luxe-exclu-2.svg);}
.cadeau-jewel{background-image: url(../img/po-noel/cadeau-jewel.svg);}
.cadeau-apple{background-image: url(../img/po-noel/cadeau-pour-apple.svg);}
.cadeau-caviar{background-image: url(../img/po-noel/cadeau-caviar-1.svg);}
.cadeau-caviar-yeux{background-image: url(../img/po-noel/cadeau-caviar-yeux.svg);}
.cadeau-caviar-intensive{background-image: url(../img/po-noel/cadeau-caviar-intensive.svg);}
.cadeau-caviar-masque{background-image: url(../img/po-noel/cadeau-caviar-masque.svg);}
.cadeau-douceur-masculin{background-image: url(../img/po-noel/cadeau-douceur-masculin.svg);}
.cadeau-fraicheur-masculine-1{background-image: url(../img/po-noel/cadeau-fraicheur-masculine-1.svg);}
.cadeau-fraicheur-masculine-2{background-image: url(../img/po-noel/cadeau-fraicheur-masculine-2.svg);}
.cadeau-cocooning-lui{background-image: url(../img/po-noel/cadeau-cocooning-lui.svg);}
.cadeau-peau-douce-lui{background-image: url(../img/po-noel/cadeau-peau-douce-lui.svg);}
.cadeau-sos-masque-lui{background-image: url(../img/po-noel/cadeau-sos-masque-lui.svg);}
.cadeau-sos-masque-jeunes{background-image: url(../img/po-noel/cadeau-sos-masque-jeunes.svg);}
.cadeau-belle-peau-1{background-image: url(../img/po-noel/cadeau-belle-peau-jeunes-1.svg);}
.cadeau-belle-peau-2{background-image: url(../img/po-noel/cadeau-belle-peau-jeunes-2.svg);}
.cadeau-fetes-en-couleur{background-image: url(../img/po-noel/cadeau-fetes-en-couleurs.svg);}
.cadeau-juste-un-regard{background-image: url(../img/po-noel/cadeau-juste-un-regard.svg);}
.cadeau-pour-briller{background-image: url(../img/po-noel/cadeau-pour-briller-maquillage.svg);}

.cadeau-mains,
.cadeau-briller,
.cadeau-pieds,
.cadeau-senteur,
.cadeau-peau-douce-1,
.cadeau-peau-douce-2,
.cadeau-gout-abricot,
.cadeau-peau-douce,
.cadeau-doux-decollete,
.cadeau-cocooning,
.cadeau-sos-masque,
.cadeau-luxe-exclu-1,
.cadeau-luxe-exclu-2,
.cadeau-jewel,
.cadeau-apple,
.cadeau-caviar,
.cadeau-caviar-yeux,
.cadeau-caviar-intensive,
.cadeau-caviar-masque,
.cadeau-douceur-masculin,.cadeau-fraicheur-masculine-1,
.cadeau-fraicheur-masculine-2,
.cadeau-cocooning-lui,
.cadeau-peau-douce-lui,
.cadeau-sos-masque-lui,
.cadeau-sos-masque-jeunes,
.cadeau-belle-peau-1,
.cadeau-belle-peau-2,
.cadeau-fetes-en-couleur,
.cadeau-juste-un-regard,
.cadeau-pour-briller{
    width: 420px;
    height: 420px;
}
.contact{
  position: fixed;
  right: 0px;
  bottom: 0px;
}
/* ------------ FOOTER ------------- */
footer{
    margin-top: 40px;
    padding: 20px;
    background-color: var(--dark-color);
    color: var(--light-color);
}
footer p{
    text-align: center;
    padding: 10px;
}